---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: traefik
spec:
  interval: 5m
  chart:
    spec:
      # renovate: registryUrl=https://helm.traefik.io/traefik
      chart: traefik
      version: 25.0.0
      sourceRef:
        kind: HelmRepository
        name: traefik-charts
        namespace: flux-system
  values:
    additionalArguments:
      - --log.level=INFO
      - --configFile=/data/traefik-config.yaml
    ingressRoute:
      dashboard:
        enabled: false
    ports:
      traefik:
        port: 9000
        expose: false
        exposedPort: 9000
        protocol: TCP
      web:
        port: 8000
        expose: true
        exposedPort: 80
        protocol: TCP
      websecure:
        port: 8443
        expose: true
        exposedPort: 443
        protocol: TCP
        tls:
          enabled: false
          options: ""
          certResolver: ""
          domains: []
      unificontroller:
        port: 8080
        expose: true
        exposedPort: 8080
        protocol: TCP
      unifidiscovery:
        port: 10001
        expose: true
        exposedPort: 10001
        protocol: TCP
      unifistun:
        port: 3478
        expose: true
        exposedPort: 3478
        protocol: UDP
      unificaptive:
        port: 8881
        expose: true
        exposedPort: 8880
        protocol: TCP
      unificaptives:
        port: 8844
        expose: true
        exposedPort: 8843
        protocol: TCP
        tls:
          enabled: false
      mqtt:
        port: 1883
        expose: true
        exposedPort: 1883
        protocol: TCP
        tls:
          enabled: false
      mqtts:
        port: 8883
        expose: true
        exposedPort: 8883
        protocol: TCP
        tls:
          enabled: false
      openmqtts:
        port: 8884
        expose: true
        exposedPort: 8884
        protocol: TCP
        tls:
          enabled: false
    service:
      annotations:
        metallb.universe.tf/allow-shared-ip: traefik
      ipFamilyPolicy: RequireDualStack
    persistence:
      enabled: false
      path: /certs
      size: 128Mi
      storageClass: filesystem
    volumes:
      - mountPath: /data
        name: traefik-config
        type: configMap
